# Basic ignores
.DS_Store
Thumbs.db
*.pyc
*.pyd
*.pyo
tempCodeRunnerFile.py
__pycache__/
*.egg-info/
.eggs/
.venv/
.idea/
.vscode/
*.code-workspace
.cache/
env/
venv/
site/
dist/
build/
scripts/
.pypirc

# Common extensions
*.test
*.cache
*.log
*.temp
*.lock
*.zip
*.tar
*.gz
*.tar.gz
*.rar
*.pkl
*.egg
*.whl

# Conventional folders and files
__assets__/
__temp__/
temp/
tmp/
_legacy/
secret/
temp.py
temp.bash
session.json
log.json
log.txt

# Vibe coding files
QWEN.md
GEMINI.md
CLAUDE.md
.windsurf/
.claude/
.prompts/

# Temporary
*.duckdb
*.parquet
data/*
!data/.keep
!data/RubikBench/
data/RubikBench/*
!data/RubikBench/queries
!data/RubikBench/knowledge
scripts/
