# Core dependencies
agent-heaven>=0.9.4
duckdb
pandas
pyarrow

# Dataset download helpers
gdown

# SQL dialect conversion
sqlglot

# Huggingface dataset download
huggingface_hub

# Utilities
tqdm
click
typer
